@import "semantic-ui";

.chatbox {
    height: 400px;
}
.field_with_errors {
    @extend .field;
    @extend .error;
  }

.root{
    margin-top: 10px;
    text-decoration-color: blanchedalmond;

}

#messages{
    height: 15em;
    overflow: auto;
}
// .middle{
//     : black;
// }